<a href="https://colab.research.google.com/github/ymuto0302/PublicLecture2025/blob/main/Python%E5%9F%BA%E7%A4%8E.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 最初のコードセルに入力して実行
print("データサイエンス講座へようこそ！")
print("私の名前は○○です")

データサイエンス講座へようこそ！
私の名前は○○です

## 変数と基本データ型

In [ ]:
# 数値型（整数）
age = 14
print("年齢:", age)

# 数値型（小数）
height = 160.5
print("身長:", height, "cm")

# 文字列型
name = "田中太郎"
print("名前:", name)

# ブール型（True/False）
is_student = True
print("学生ですか?", is_student)

年齢: 14
身長: 160.5 cm
名前: 田中太郎
学生ですか? True

## リスト

In [ ]:
# 科目のリスト
subjects = ["数学", "英語", "理科", "社会", "国語"]
print("科目一覧:", subjects)

# 点数のリスト
scores = [85, 78, 92, 80, 88]
print("点数一覧:", scores)

# リストの要素にアクセス（0から始まることに注意）
print("最初の科目:", subjects[0])  # 数学
print("2番目の点数:", scores[1])   # 78

# リストの長さ
print("科目数:", len(subjects))

科目一覧: ['数学', '英語', '理科', '社会', '国語']
点数一覧: [85, 78, 92, 80, 88]
最初の科目: 数学
2番目の点数: 78
科目数: 5

## 辞書

In [ ]:
# 生徒情報の辞書
student = {
    "名前": "田中太郎",
    "年齢": 14,
    "身長": 160.5,
    "学年": "中学2年"
}
print("生徒情報:", student)

# 辞書の値にアクセス
print("名前:", student["名前"])
print("年齢:", student["年齢"])

# 新しいキーと値を追加
student["趣味"] = "サッカー"
print("更新後:", student)

生徒情報: {'名前': '田中太郎', '年齢': 14, '身長': 160.5, '学年': '中学2年'}
名前: 田中太郎
年齢: 14
更新後: {'名前': '田中太郎', '年齢': 14, '身長': 160.5, '学年': '中学2年', '趣味': 'サッカー'}

In [ ]:
# リストだと対応が分からない
subjects = ["数学", "英語", "理科"]
scores = [85, 78, 92]

# 辞書なら対応が明確
grade = {
    "数学": 85,
    "英語": 78,
    "理科": 92
}
print("数学の点数:", grade["数学"])

数学の点数: 85

## Pandas入門

In [ ]:
import pandas as pd

print("pandasを使う準備ができました！")

pandasを使う準備ができました！

### 辞書からデータフレーム作成

In [ ]:
# 成績データと同じ構造
data = {
    "生徒名": ["田中", "佐藤", "鈴木", "高橋", "山田"],
    "数学": [85, 78, 92, 80, 88],
    "英語": [78, 85, 88, 75, 82],
    "理科": [92, 80, 85, 90, 87]
}

# データフレーム作成
df = pd.DataFrame(data)
print("作成したデータフレーム:")
print(df)

作成したデータフレーム:
  生徒名  数学  英語  理科
0  田中  85  78  92
1  佐藤  78  85  80
2  鈴木  92  88  85
3  高橋  80  75  90
4  山田  88  82  87

### データの概要確認

In [ ]:
# データの最初の数行を表示
print("最初の3行:")
print(df.head(3))

# データの形状（行数×列数）
print("データの大きさ:", df.shape)

# 列名の確認
print("列名一覧:", df.columns.tolist())

# データ型の確認
print("各列のデータ型:")
print(df.dtypes)

最初の3行:
  生徒名  数学  英語  理科
0  田中  85  78  92
1  佐藤  78  85  80
2  鈴木  92  88  85
データの大きさ: (5, 4)
列名一覧: ['生徒名', '数学', '英語', '理科']
各列のデータ型:
生徒名    object
数学      int64
英語      int64
理科      int64
dtype: object

### 特定の列へのアクセス

In [ ]:
# 1つの列を取得
print("数学の点数:")
print(df["数学"])

# 複数の列を取得
print("数学と英語の点数:")
print(df[["数学", "英語"]])

数学の点数:
0    85
1    78
2    92
3    80
4    88
Name: 数学, dtype: int64
数学と英語の点数:
   数学  英語
0  85  78
1  78  85
2  92  88
3  80  75
4  88  82

### 特定の行へのアクセス

In [ ]:
# インデックス0の行（田中さんの成績）
print("田中さんの成績:")
print(df.iloc[0])

# 条件で行を選択（数学80点以上）
print("数学80点以上の生徒:")
high_math = df[df["数学"] >= 80]
print(high_math)

田中さんの成績:
生徒名    田中
数学     85
英語     78
理科     92
Name: 0, dtype: object
数学80点以上の生徒:
  生徒名  数学  英語  理科
0  田中  85  78  92
2  鈴木  92  88  85
3  高橋  80  75  90
4  山田  88  82  87

### 簡単な集計処理：基本統計量

In [ ]:
# 各科目の平均点
print("各科目の平均点:")
print(df[["数学", "英語", "理科"]].mean())

# 各科目の最高点
print("各科目の最高点:")
print(df[["数学", "英語", "理科"]].max())

# 田中さんの平均点
tanaka_scores = df[df["生徒名"] == "田中"][["数学", "英語", "理科"]]
print("田中さんの平均点:", tanaka_scores.mean().mean())

各科目の平均点:
数学    84.6
英語    81.6
理科    86.8
dtype: float64
各科目の最高点:
数学    92
英語    88
理科    92
dtype: int64
田中さんの平均点: 85.0

### CSVファイルからのデータ読み込み

In [ ]:
df = pd.read_csv("iris.csv")

In [ ]:
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa